// *{border:1px solid red;}

#powered-by-container{
  // border:1px solid red;
  position: fixed;
  top:200px;
  left:150px;
  width:330px;
  height:500px;
  opacity:0;
  transition:1s ease-out;
}

.powered-by-title{
  color:rgb(168, 168, 168);
  padding:7px;
  font-size: 40px;
  
  border-bottom: 1px solid rgb(161, 161, 161);
  // font-family: 'Rajdhani', sans-serif;
  font-weight: 100;
}

.powered-by-sponsors-container{
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.powered-by-sponsor{
width:90px;
height:90px;
margin-top:20px;
margin-right:20px;
border-radius: 8px;
overflow: hidden;
border:3px solid;
opacity:.3;
transition:.5s ease-in-out;
background-color: #fff;
}
.powered-by-sponsor:hover{
  opacity:1;
}

.powered-by-sponsor-image{
  width:100%;
  height:100%;
  object-fit: contain;
  
}