#team-showcase-container{
  width:100%;
  height:auto;
  overflow: hidden;
  opacity: 0;
  transition:1s;
}

#team-showcase-image{
  width:calc(100% + 30px);
  left:30px;
  height:100%;
  transition: 4s ease-out;
  object-fit: cover;
  opacity: .6;
  position: relative;
}

#team-showcase-text-container{
  position: relative;
  width:800px;
  margin:0 auto;
  top:-45vh;
  transition:1s;
  /* border:1px solid red; */
}

.team-showcase-text{
  color:#fff;
  font-size:80px;
  text-align: center;
  font-family: 'Rajdhani', sans-serif;
}

.team-showcase-blurb{
  color:#ddd;
  font-size:27px;
  line-height: 1.4em;
  font-weight: 100;
  text-align: center;
}