#photoslide-container-2{
  width:100vw;
  height:100vh;
  margin:50px auto;
  padding:40px 0;
  /* border:2px solid blue; */
  position:relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  opacity:0;
  transition: .5s ease-in-out;
}

  .white-line{
    position: relative;
    /* border:1px solid green; */
    width:1300px;
    height:40px;
  }
  .white-line div{
    background: #aaa;
    width:2px;
    height:100%;
    margin: 0 auto
  }

  #description-container-2{
    position: relative;
    width: 500px;
    height:500px;
    top:150px;
    /* top:0; */
    transition: .6s;
    /* border: 1px solid blue; */
  }

    #photoslide-title-2{
      color:#eee;
      width:100%;
      font-size:55px;
      text-align: left;
      padding:20px 0 0 0px;

    }

    #photoslide-description-2{
      color:#eee;
      font-size:22px;
      line-height: 1.6em;
      padding:20px 0px;
      text-align:justify;
    }

  .photoslide-image-container-2{
    position: relative;
    width:880px;
    height:500px;
    margin-right:80px;
    margin-top:10px;
    /* border:1px solid red; */
    overflow: hidden;
    /* align-content: center; */
  }

    .photoslide-image-2{
      width:100%;
      opacity:.7;
    }