.sponsor-explorer-container {
  width:100%;
  height: auto;
  background: #fff;
  padding-top:100px;
  opacity:1;
}

.explorer-header {
  width:250px;
  position: relative;
  margin:0 auto;
  margin-bottom: 30px;
  font-size: 65x;
  font-family: 'Rajdhani', sans-serif;
  padding: 10px 0 10px 0;
  color:#222;
  /* border-bottom: 3px solid rgb(194, 2, 2); */
}

.sponsor-container {
  padding:50px 0;
  width:1500px;
  position: relative;
  margin:0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* border:1px solid #222; */
}

.sponsor{
  width:500px;
  height:260px;
  position: relative;
  /* border:1px solid #222; */
  padding:0px 0 0 10px;
  margin:20px 40px;
  display: flex;
  transition:1s ease-in-out;
}
.sponsor:hover{
  /* border-left: 2px solid #222; */
}

.sponsors-logo {
  object-fit: contain;
  width:40%;
  height:100%;
  position: relative;
  background: rgb(255, 255, 255);
  /* border:1px solid #8a8a8a */
}

.sponsors-text-container{
  width:60%;
  padding:0px 10px;
  margin-left: 5px;
}
.sponsors-text-container h1{
  font-size: 27px;
  margin:10px 0;
  padding-bottom: 5px;
  font-weight: 300;
  border-bottom: 1px solid rgb(202, 202, 202);
}
.sponsors-text-container h2{
  font-size: 14px;
  text-align: justify;
  color:#333;
  line-height: 1.4em;
  font-weight: 200;
  }

.sponsor {
  /* filter: grayscale(20%); */
  text-decoration: none;
}

.sponsor-flag-pole{
  width:0;
  height:3px;
  position:absolute;
  bottom:0;
  right:0;
  background:rgb(51, 102, 170);
  opacity:0;
  transition:.5s ease-in-out;
}
.sponsor:hover .sponsor-flag-pole{
  width:100%;
  opacity:1;
}
.sponsor-flag{
  position: absolute;
  bottom:0;
  right:0;
  height:40px;
  width:0px;
  background-color: rgb(51, 102, 170);
  /* padding:5px; */
  overflow: hidden;
  opacity: 0;
  transition:.5s ease-in-out;
}
.sponsor-flag-text{
  color:rgb(74, 118, 175);
  text-align: center;
  font-size: 25px;
  font-weight: 100;
  margin-top: 5px;
  transition: .7s ease-in-out;
}
.sponsor:hover .sponsor-flag{
  width:100px;
  opacity: 1;
}.sponsor:hover .sponsor-flag-text{
   color:#fff;
}



h1 {
  color: rgb(0, 0, 0);
}

.silver .sponsor{
  width:250px;
}

.silver .sponsors-logo {
  object-fit: contain;
  width:80%;
  height:100%;
  position: relative;
  background: rgb(255, 255, 255);
  /* border:1px solid #8a8a8a */
}

.silver .sponsors-text-container{
  width:0;
  opacity:0;
}

.sponsor-type-heading{
  padding-top:30px;
  padding-bottom: 30px;
  font-size: 30px;
  /* border:1px solid red; */
  text-align: center;
  color: rgb(0, 0, 0);
}

.sponsor-type-heading span {
  padding:7px;
  font-family: 'Rajdhani', sans-serif;
}